body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('http://www.example.com/images/arrow.png') no-repeat right #fff;
    background-position: 95% center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px;
    height: 34px;
    outline: 0;
    color: #555;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* table with styles matarials */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

body {
    display: grid;
    place-content: center;
}

.table-wrapper {
    margin-top: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}